

.logoN{
    position: relative;
    margin-left: 50%;
  }
  
  .logoN h2{
    position: absolute;
    color: #fff;
    transform: translate(-50% , -50%);
    font-size: 2.5rem;
  }
  
  .logoN h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #03a9f4
  }
  
  .logoN h2:nth-child(2){
    color:#03a9f4 ;
    animation: animateL 4s ease-in-out infinite;
  }
  
  @media screen and (max-width:450px){
    .logoN h2{
      font-size: 2rem;
    }
    
  }

  @media screen and (max-width:300px){
    .logoN h2{
      font-size: 1.5rem;
    }
  }
  @keyframes animateL{
    0%,100%
    {
      clip-path: polygon(0 33%, 16% 46%, 30% 56%, 45% 61%, 62% 55%, 75% 48%, 99% 49%, 100% 100%, 1% 100%);
    }
    50%{
      clip-path: polygon(0 53%, 15% 57%, 30% 56%, 40% 49%, 55% 44%, 73% 41%, 100% 37%, 100% 100%, 1% 100%);
    }
  }