.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

@media screen and (min-width:700px) and (max-width:850px) {
    .posts{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}