.OuterRim {
  --size: 90vw;
  --max-size: 600px;

  /* margin: 64px auto; */
  border-radius: 50%;
  /* width: var(--size); */
  width: 200px;
  position: relative;
  /* height: var(--size); */
  height: 200px;
  max-width: var(--max-size);
  max-height: var(--max-size);
  border:  black;
  box-shadow: 8px 8px 16px
    rgba(0, 0, 0, 0.3);
}
